.input {
  width: 80%;
  height: 50px;
  margin-top: 16px;
  font-size: 20px;
  /* text-align: center; */
  border: none;
  border-bottom: 1px solid #888;
  margin: auto;
}

.submit {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;

  font-size: 30px;
  text-align: right;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  color: #aaa;
  cursor: not-allowed;

  transition: all linear 0.1s;
}

.submitActive {
  cursor: pointer;
  color: #444;
}

.submitActive:hover {
  color: #222;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}
