.container {
  padding: 20px;
  background: white;
  display: block;
  width: 500px;
  max-width: calc(100% - 80px);
  min-width: 250px;
  height: 150px;
  text-align: center;
  box-shadow: 2px 2px 4px 0 #151515;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input {
  width: 80%;
  height: 50px;
  margin-top: 16px;
  font-size: 35px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #888;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}
