@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.pulsar {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #ccc;
  border-radius: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  animation-fill-mode: both;
}

.pulsar:first-child {
  animation: pulse 2.1s 0s infinite ease-in-out;
}

.pulsar:nth-child(2) {
  animation: pulse 2.1s 1s infinite ease-in-out;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 35px;
}
